CODA_API_TOKEN=your_coda_token_here
FRAMER_API_KEY=your_framer_key_here

CONVEX_SITE_URL=https://oceanic-greyhound-532.convex.site
CONVEX_EVENTS_UPSERT_PATH=/coda/events/upsert
CODA_SYNC_SECRET=your_convex_coda_sync_secret_here
CONVEX_SYNC_ENABLED=true
CONVEX_EVENT_LIVE_FIELD=Live
